/* General */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --Mode-Light: #f0f2f5;
  --Mode-Sombre: #18191a;
}
body {
  background-color: #f0f2f5;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 5px;
}
a:hover {
  color: inherit;
}

/* // General  // */

/* === header nav bar === */

header .navbar-header {
  position: sticky !important;
  z-index: 1;
  top: 0;
  display: flex;
  align-items: center;
}
header .navbar-brand {
  font-size: 30px;
  text-transform: capitalize;
  color: #1196f5;
}
header .navbar-home {
  font-size: 25px;
  font-weight: 400;
  text-transform: capitalize;
}
header .nav-profile-img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/* // header nav bar // */

/*==== posts ====*/
.btn-edit-post .post-header {
  display: flex;
  align-items: center;
}
.posts .card-body .post-img {
  object-fit: fill;
}
.posts .card-header .img-user {
  width: 50px;
  height: 50px;
}
/* // posts // */
/* === Form === */
label {
  font-size: 20px;
}
.btn-register {
  padding: 0 10px;
  font-size: 20px;
}
.btn-edit-post {
  display: block;
  margin-left: auto;
}
.redirection {
  margin-left: 10px;
  color: white;
  font-size: 20px;
}
.redirection a {
  color: #f4d03f;
  font-size: 25px;
}

/* // Form // */

/* ==== lodear  ==== */

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lodear {
  background-color: rgba(128, 128, 128, 0.474);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: none;
  border-radius: 5px;
}
/* ====// lodear  //==== */

/* ==== successAlert  ==== */
.successAlert {
  width: 400px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  margin: 0;
}
/* ====// successAlert  //==== */
.btn-login {
  padding: 5px;
  width: 50px !important;
  height: 50px;
}
