.card .comments-post {
  display: block;
}
.card .show-comments {
  cursor: pointer;
}

.card .comments-info {
  display: flex;
  justify-content: space-between;
  padding: 10px 3px;
  margin: 5px 0;
  align-items: center;
}

.comments-body {
  display: flex;
}
.card .user-comment {
  display: flex;
  flex-direction: column;
  color: black;
  background-color: #9e9e9e4f;
  border-radius: 5px;
  padding: 10px;
  min-width: 200px;
  margin-top: 20px;
}
.card .img-user-comment {
  width: 40px;
  height: 40px;
}
.card .add-comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto;
}
.card .add-comment-btn {
  width: 150px;
  background-color: #0d6efd;
  padding: 7px;
  margin-left: 5px;
  color: white;
  border: 0;
  border-radius: 5px;
}
.card .add-comment-input {
  background-color: #9e9e9e4f;
}
.btn-delete-comment {
  padding: 2px;
  width: 70px;
  height: 50px;
}
.post-img {
  object-fit: fill !important;
}

.like-icon {
  color: #2e86c1;
  font-size: 35px;
}
.unlike-icon {
  color: rgb(51 51 51);
  font-size: 35px;
}
